/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
/* header start */
.menu ul li a {
padding: 15px 0;
}
.nav_c img{
width: 80%;
}
/* bannar start */
.bannar {
padding: 80px 0;
}
.b-h1 {
font-size: 24px;
}
.b-p {
font-size: 16px;
padding: 20px 0 40px;
}

/* team start */
.ourteam {
    padding-bottom: 50px;
}
.single-team {
    padding: 25px 0;
}


/* testi start */
.testi-content {
    padding: 50px 0px 113px 15px;
}
.testimonial {
    padding-bottom: 60px;
}

/* download start */
.download {
    padding-bottom: 60px;
}
.download-content p {
    font-size: 15px;
}
.download-content h2{
    font-size: 25px;
}

/* footer start */
.footer-left p {
    padding: 0 30px;
}
.footer-mid{
    padding-top: 50px;
}
.footer-right{
    padding-top: 50px;
}
.fb-content p {
    text-align: center;
}
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
/* header start */
.menu ul li a {
padding: 15px 0;
}
/* bannar start */
.bannar {
padding: 100px 0;
}
.b-h1 {
font-size: 34px;
}
.b-p {
font-size: 16px;
padding: 20px 0 40px;
}

/* team staaaert */
.ourteam {
    padding-bottom: 80px;
}

/* testi start */

.testimonial {
    padding-bottom: 80px;
}
.testi-content {
    background-color: #53354a;
    padding: 50px 70px 113px 70px;
}

/* footer start */
.footer-left p {
    padding: 0px 160px;
}
.footer-right p {
    padding: 0 30px;
}
.footer-mid{
    padding-top: 50px;
}
.footer-right{
    padding-top: 50px;
}
.fb-content p {
    text-align: center;
    padding: 0 20px;
}
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
/* header start */
.menu ul li a {
padding: 15px 0;
}
/* bannar start */
.b-h1 {
font-size: 48px;
}
.b-p {
font-size: 20px;
}


.ourteam {
    padding-bottom: 80px;
}

/* testi start */

.testimonial {
    padding-bottom: 80px;
}
.testi-content {
    background-color: #53354a;
    padding: 50px 70px 113px 70px;
}

/* footer start */
.footer-right {
    padding: 0 200px;
}
.fb-content p {
    text-align: center;
}
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
/* bannar start */
.b-h1 {
font-size: 48px;
}
.b-p {
font-size: 20px;
}

/* ourteam start */
.team-content p {
    padding-right: 0px;
}

/* testi start */
.testi-content {
    padding: 20px 70px 48px 80px;
}
.c-ind {
    bottom: -50px;
}
/* download start */
.download-content h2 {
    font-size: 27px;
}
/* footer start */
.footer-left p {
    padding: 0 50px;
}


}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
   /* ourteam start */
.team-content p {
    padding-right: 0px;
}

/* testi start */
.testi-content {
    padding: 40px 70px 74px 80px;
}
.c-ind {
    bottom: -70px;
}

/* footer start */
.footer-left p {
    padding: 0 100px;
}
.fb-content p {
    text-align: center;
}
}
/* Extra Extra large devices (large desktops, 1400px and up) */
@media (min-width: 1400px) {
     .testi-content {
    padding: 124px 70px 113px 80px;
}
.fb-content p {
    text-align: center;
}
}